extends ./dashboard-template
block headerscripts
     script.
      var reportname=!{JSON.stringify(reportname)};
      var selectoptions={};
      var chartcfg;
      var reportconfig=!{configstr?configstr:0};
      var cols=!{JSON.stringify((recordsets["_data"]&&recordsets["_data"].columns)?recordsets["_data"].columns:[])};
      var dataready=!{JSON.stringify(dataready)};
      var rowcount=!{JSON.stringify(recordcount?recordcount:0)};
      var collectiondata={};
     script.
     -each val,key in recordsets
       -if(key.indexOf('_data')!=0)
         script.
             selectoptions["#{key}"] = !{JSON.stringify(val.rows)}
block parameter
  
block dataheader

block data
  .row
   .large-4.medium-4.small-12.columns
     .row
      .large-12.medium-12.small-12.columns
       mixin pie-partial(recordsets["_data_pureservice-ytd"],"pureservice-ytd")
     .row
      .large-12.medium-12.small-12.columns
        mixin bar-partial(recordsets["_data_pureservice-forecast"],"pureservice-forecast")
   .large-8.medium-8.small-12.columns
        mixin line-partial(recordsets["_data_pureservice-trend"],"pureservice-trend")
block datafooter

block footerscripts
     -if (production)
       script(src="#{approot}javascripts/viewscripts/line-chart.js")
       script(src="#{approot}javascripts/viewscripts/pie-chart.js")
       script(src="#{approot}javascripts/viewscripts/bar-chart.js") 
     -else
       script(src="#{approot}javascripts/viewscripts/line-chart.js")
       script(src="#{approot}javascripts/viewscripts/pie-chart.js")
       script(src="#{approot}javascripts/viewscripts/bar-chart.js") 