mixin partial-scorecard(datasetcurmonth,datasetytd,partname)
  .row
        .large-12.medium-8.small-8.columns 
         -if (dataready)
              table.sc-table
                thead
                  tr
                    th(rowspan="2") BLANK
                    th(colspan="3",class="sc-colheader sc-black") Måned
                    th(colspan="3",class="show-for-medium-up sc-colheader sc-black") YTD
                  tr
                    th.sc-colheader MÅL
                    th.sc-colheader FAKTISK
                    th.sc-colheader.sc-lighttext DIFF
                    th.show-for-medium-up.sc-colheader MÅL
                    th.show-for-medium-up.sc-colheader FAKTISK
                    th.show-for-medium-up.sc-colheader.sc-lighttext DIFF
                tbody
                   -var curlevel=0
                   -each rowcurmonth,index in datasetcurmonth.rows
                    -var rowytd = datasetytd.rows[index]
                    -var level = rowcurmonth.__level
                    -if(curlevel===0)
                      tr
                        td.sc-groupheader(colspan="7") #{rowcurmonth.ProduktTypeScorecard}
                    -if(level===0)
                      tr
                       td TOTAL
                       td.sc-value #{rowcurmonth.budget}
                       td.sc-value #{rowcurmonth.db}
                       td.sc-value.sc-lighttext !{config.renderer.balance(rowcurmonth.balance)}
                       td.sc-value.show-for-medium-up #{rowytd.budget}
                       td.sc-value.show-for-medium-up #{rowytd.db}
                       td.sc-value.show-for-medium-up.sc-lighttext !{config.renderer.balance(rowytd.balance)}
                    -if(level!==0&&rowcurmonth.Team!="-")
                      tr
                       td #{rowcurmonth.Team}
                       td.sc-value #{rowcurmonth.budget}
                       td.sc-value #{rowcurmonth.db}
                       td.sc-value.sc-lighttext !{config.renderer.balance(rowcurmonth.balance)}
                       td.sc-value.show-for-medium-up #{rowytd.budget}
                       td.sc-value.show-for-medium-up #{rowytd.db}
                       td.sc-value.show-for-medium-up.sc-lighttext !{config.renderer.balance(rowytd.balance)}
                    -curlevel=level
                    


