mixin partial-scorecard(datasetcurmonth,datasetytd,partname)
  .row
         -if (dataready)
           .large-6.medium-12.small-12.columns
              table.sc-table
                thead
                  tr
                    th(rowspan="2") &nbsp;
                    th(colspan="4",class="sc-black") 
                     div Måned
                  tr
                    th.sc-colheader MÅL
                    th.sc-colheader FAKTISK
                    th.sc-colheader.sc-lighttext DIFF
                    th &nbsp;
                tbody
                   -var curlevel=0
                   -each rowcurmonth,index in datasetcurmonth.rows
                    -var level = rowcurmonth.__level
                    -if(curlevel===0)
                      tr
                        td.sc-groupheader(colspan="4") #{rowcurmonth.ProduktTypeScorecard}
                    -if(level===0)
                      tr
                       td TOTAL
                       td.sc-value #{rowcurmonth.budget}
                       td.sc-value #{rowcurmonth.db}
                       td.sc-value.sc-lighttext #{rowcurmonth.balance}
                       td !{config.renderer.img(rowcurmonth.balance,null,rowcurmonth)}
                    -if(level!==0&&rowcurmonth.Team!="-")
                      tr
                       td #{rowcurmonth.Team}
                       td.sc-value #{rowcurmonth.budget}
                       td.sc-value #{rowcurmonth.db}
                       td.sc-value.sc-lighttext #{rowcurmonth.balance}
                       td !{config.renderer.img(rowcurmonth.balance,null,rowcurmonth)}
                    -curlevel=level
           .large-6.medium-12.small-12.columns
              table.sc-table
                thead
                  tr
                    th.sc-semihide(rowspan="2") &nbsp;
                    th(colspan="4",class="sc-black") 
                     div YTD
                  tr
                    th.sc-colheader MÅL
                    th.sc-colheader FAKTISK
                    th.sc-colheader.sc-lighttext DIFF
                    th &nbsp;
                tbody
                   -var curlevel=0
                   -each rowytd,index in datasetytd.rows
                    -var level = rowytd.__level
                    -if(curlevel===0)
                      tr
                        td.sc-groupheader.sc-semihide(colspan="4") #{rowytd.ProduktTypeScorecard}
                    -if(level===0)
                      tr
                       td.sc-semihide TOTAL
                       td.sc-value #{rowytd.budget}
                       td.sc-value #{rowytd.db}
                       td.sc-value.sc-lighttext #{rowytd.balance}
                       td !{config.renderer.img(rowytd.balance,null,rowytd)}
                    -if(level!==0&&rowytd.Team!="-")
                      tr
                       td.sc-semihide #{rowytd.Team}
                       td.sc-value #{rowytd.budget}
                       td.sc-value #{rowytd.db}
                       td.sc-value.sc-lighttext #{rowytd.balance}
                       td !{config.renderer.img(rowytd.balance,null,rowytd)}
                    -curlevel=level         
                    


