include ./partial-scorecard2
include ./targets-partial
extends ../report-template
block additionalhtmlhead
  link(rel='stylesheet', href='#{approot}stylesheets/scorecard.css')
  script.
   var collectiondata={};
   collectiondata["default"]={};
   collectiondata["default"].cols=!{JSON.stringify((recordsets["_data"]&&recordsets["_data"].columns)?recordsets["_data"].columns:[])};
   collectiondata["default"].rows=!{JSON.stringify((recordsets["_data"]&&recordsets["_data"].rows)?recordsets["_data"].rows:[])}; 
block parameter
     -if(!dataready)
      div#reportheader
       form(method="post",action="#{originalUrl}",id="reportform",data-abide="data-abide")
         mixin parameters(parameters,originalUrl)  
block dataheader
       .row
        .large-12.medium-12.small-12.columns.padded    
          #progresscontainer
    block data
         -if(dataready)
            mixin targets-partial(recordsets["_data_kpi-rapport"],"kpi-rapport")
            mixin partial-scorecard(recordsets["_data_sc-rapport"],recordsets["_data_sc-rapport-ytd"],"sc-list")
block footerscripts
      if(production)
       script(src="#{approot}build/js/targets.min.js") 
      else
       script(src="#{approot}javascripts/contrib/highcharts-more.js")
       script(src="#{approot}javascripts/contrib/highcharts-solidgauge.js")
       script(src="#{approot}javascripts/targets/targets.js") 

   